
.boundries1{
    border: 4px double black;
    border-width: 8px;
    padding: 20px;
    margin:20px auto;
    max-width: 1448px;
    height: 800px; 
}
nav{
 width: 70%;

}
#navbar{
   display: flex;
    justify-content: center; 
}

ul{
   
   
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
   box-sizing: border-box;
   
    margin: 10px;

}
li{
border: black solid 3px;
box-sizing: border-box;
padding: 5px 10px 5px 10px;
 border-radius: 6px;
 background-color: rgb(31, 85, 177);
 

}


.list1{
 color: white;
 text-decoration: none;

}
